@import "tailwindcss";

:root {
  --background: #FAFAFA;

  --primary: #6366F1;
  --primary-hover: #818CF8;
}

.dark {
  --background: #0a192f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);

}

body {
  background: var(--background);
}
